<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Answers:</strong>
  
</p>
<% for answer in @question.answers %>
<div class="answer">
  <span class="left"><%= answer.user.email %><br /><%= link_to "Delete", answer, :confirm => 'Are you sure?', :method => :delete%></span>
  <span class="right"><%= answer.content %></span>
</div>
<% end %>
 
<h3>Comments</h3>

<%= form_for [@question, Comment.new] do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @question.comments) %>
</ul>


<p>
  <%= link_to "Reply", "#{new_answer_path}?question=#{@question.id}" %> |
  <%= link_to "View All", forum_path(@question.forum_id) %>
</p>
